body {
  background-color: rgb(38, 38, 38);
}
h1 {
	color:white;
}

table {
  border:2px solid black;
  text-align:center;
  color: white;
  border-collapse: collapse;
}
th {
	border:2px solid black;
  text-align:center;
  color: white;
  border-collapse: collapse;
  height: 30px;
}
td {
	border:2px solid black;
  text-align:center;
  color: white;
  border-collapse: collapse;
  height: 60px;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;

}
a:hover {
	color: blue;
	text-decoration: none;
}
a:active {
	color: red;
	text-decoration: none;
}
img {
    display: none;
}
button {
    background-color: #9c0f66; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    top: 92%;
    margin:auto;
    display:block;
    position: absolute;

}
wrapper {
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
}